.dashboard-stats {
    min-width: 85vw;
    min-height: 100vh;
}

.dashboard-stats .dashboard-content .cards .card {
    border: none !important;
}

.dashboard-stats .dashboard-content .cards .card .card-body i {
    color: green;
}

.dashboard-stats .dashboard-content .last-transctions .card {
    border: none !important;
}