.group-details-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem .5rem;
}

@media only screen and (max-width: 768px) {
  .group-details-card {
    display: grid;
    grid-template-columns: 1fr;
}
}